<div class="main actor-index">
      <div class="container">
        <div class="row">

          <% @actors.each do |actor| %>
            <img src="<%= actor.image %>">
            <h3> <%= actor.first_name %><%= actor.last_name %> </h3>
            <p> <%= actor.bio %> </p>
            <%= link_to "Learn more", actor_path(actor) %>
            
          </div>
          <% end %>
          
      </div>
</div>
